@use '@angular/material' as mat;

@layer theme {
  html {
    @include mat.theme(
      (
        color: (
          primary: mat.$rose-palette,
          tertiary: mat.$red-palette,
        ),
        typography: Roboto,
        density: 0,
      )
    );
  }
}
