name: renovate

on:
  workflow_dispatch:
    inputs:
      log-level:
        description: Renovate log level
        type: choice
        default: INFO
        options:
          - DEBUG
          - INFO
          - WARN
          - ERROR
          - FATAL
  schedule:
    - cron: "0 2,8 * * *"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      # Token permissions requirements:
      #
      # commit statuses: write
      # contents: write
      # dependabot alerts: read
      # issues: write
      # metadata: read
      # pull requests: write
      # workflows: write
      # email addresses: read
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: create-renovate-app-token
        with:
          app-id: ${{ vars.RENOVATE_APP_ID }}
          private-key: ${{ secrets.RENOVATE_APP_PRIVATE_KEY }}

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ steps.create-renovate-app-token.outputs.token }}

      - run: |
          npm i -g corepack@${{ env.COREPACK_VERSION }}
          corepack enable
        env:
          # renovate: datasource=npm depName=corepack
          COREPACK_VERSION: "0.34.5"

      - uses: actions/setup-node@v4
        with:
          node-version-file: package.json
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - run: pnpm i

      - run: pnpm renovate
        env:
          RENOVATE_PLATFORM: github
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_TOKEN: ${{ steps.create-renovate-app-token.outputs.token }}
          LOG_LEVEL: ${{ github.event_name == 'workflow_dispatch' && inputs.log-level || 'INFO' }}
